.catalog {
  background-color: black;
  height: 100%;
  padding-bottom: 70px;
}

.catalog h1 {
  color: rgb(16, 149, 122);
  font-family: Candara;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 10px;
}

.price {
  color: grey;
  padding-bottom: 10px;
}
